/* Loading */

#loading-gear {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* Quick menu */

.quick-button {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

#back-button {
  transform-origin: 8vh 92vh;
}

#center-button {
  transform-origin: 18vh 92vh;
}

#search-button {
  transform-origin: 33vh 92vh;
}
