/* Canvas */

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  touch-action: none;
}

/* Loading */

#loading-gear {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* Quick menu */

.quick-button {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

#search-button {
  transform-origin: 11vh 91vh;
}

#center-button {
  transform-origin: 24vh 91vh;
}

#back-button {
  transform-origin: 33vh 91vh;
}
