/* Canvas */

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  touch-action: none;
}

/* Loading */

#loading-gear {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* Quick menu */

.quick-button {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

#search-button {
  -webkit-transform-origin: 5.5% 91%;
}

#center-button {
  -webkit-transform-origin: 12% 91%;
}

#back-button {
  -webkit-transform-origin: 16.5% 91%;
}
