#search-extend {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 2px solid #ae0055;
  border-radius: 120px;
  outline-width: 0;
  font-size: 2vh;
  text-indent: 10px;
}
