<!--<div id="senna-news">
  <div id="news-headline" class="news-headline">
    <h2>Material Handling Weekly</h2>
  </div>
  <div id="news-source" class="news-header-grid">
    <h3>Quelle</h3>
    <div></div>
  </div>
  <div id="news-date" class="news-header-grid">
    <h3>Date</h3>
    <div></div>
  </div>
  <div id="news-score" class="news-header-grid">
    <h3>Score</h3>
    <div></div>
  </div>

  <iframe width="100%"></iframe>
</div>-->

<!--<style>
  table {height:100%;width:100%;table-layout:static;border-collapse:collapse}
  iframe {height:100%;width:100%}

  .header {border-bottom:1px solid #000}
  .content {height:100%}
</style>-->

<!--<table id="">
  <tr><td class="header"><div><h1>Header</h1></div></td></tr>
  <tr><td class="content">
    <iframe src="http://google.com/" frameborder="0"></iframe></td></tr>
</table>-->

<div id="senna-news">
  <div id="news-header">
    <div id="news-headline" class="news-headline">
      <h2>Material Handling Weekly</h2>
    </div>
    <div id="news-source" class="news-header-grid">
      <h3>Quelle</h3>
      <div></div>
    </div>
    <div id="news-date" class="news-header-grid">
      <h3>Date</h3>
      <div></div>
    </div>
    <div id="news-score" class="news-header-grid">
      <h3>Score</h3>
      <div></div>
    </div>
  </div>

  <iframe width="100%" frameborder="0"></iframe>
</div>
