<div id="senna-news">
  <div id="news-header">
    <div id="close">
      <!-- Close icon -->
      <svg id="close-button">
        <image xlink:href="assets/images/cross-remove-sign.svg" height="30px" width="30px" fill="gray"/>
      </svg>
    </div>

    <div id="news-headline" class="news-headline">
      <h2>Material Handling Weekly</h2>
    </div>
    <div id="news-source" class="news-header-grid">
      <h3>Quelle</h3>
      <div></div>
    </div>
    <div id="news-date" class="news-header-grid">
      <h3>Date</h3>
      <div></div>
    </div>
    <div id="news-score" class="news-header-grid">
      <h3>Score</h3>
      <div></div>
    </div>
  </div>

  <iframe width="100%" frameborder="0" sandbox></iframe>
</div>
