<div id="senna-news">
  <div id="news-header">
    <div id="close">
      <!-- Close icon -->
      <img id="close-button" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEVSURBVEhL7ZbBCcJAEEUj2oBV2Ic3rcMmPHhQrEAbELEXPejRBgQ70IMn/R8yEJbN7oyZgEgePALR3edGXbbo+AX65fVbBuXVxAje4AkOecPIBD7hHqoXwOgdvkvP0BJn9AVl/AFm43wDVyqDRG08jIoLmKQHjzAcSHPxuiidwSycnJHYBHXxVHQO1VjiblFBE59C16iQil9hK1EhFY/pEhW0cdeowDgfbyxI17AVUj8keoH8cK6k/jJVXePaqOgST0VXkJHYa43imh2Jk9fFZZMxYdkG3eKWqNA4zuPKA8YmyG0OqfgGZtnBcKB2R2I83OH49MYwC08hPK5Yo0I1zii/OjWML6Hq5BCB8S1UrbTjHymKD9/s6KzGfa3UAAAAAElFTkSuQmCC">
    </div>

    <div id="news-headline" class="news-headline">
      <h2>Material Handling Weekly</h2>
    </div>
    <div id="news-source" class="news-header-grid">
      <h3>Quelle</h3>
      <div></div>
    </div>
    <div id="news-date" class="news-header-grid">
      <h3>Date</h3>
      <div></div>
    </div>
    <div id="news-score" class="news-header-grid">
      <h3>Score</h3>
      <div></div>
    </div>
  </div>

  <iframe width="100%" frameborder="0"></iframe>
</div>
